.header {
  background: rgb(202, 202, 202);
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 2px;
}

.headerTopDiv {
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.header a {
  margin-left: 10px;
}